<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>

    <title>Detalle de producto</title>
</head>
<body>

    <%- include('./partials/header') %>

    
    <main>

       <section class="productDetails">
            <div class="columna1">
                <div class="productTitle">
                    <h2><%= product.name %></h2>
                </div>
    
                <div class="productImg">
                    <img src="/images/uploads/products/<%= product.image %>" alt="<%= product.name %>">
    
                </div>

            </div>    
                

            <div class="columna2">

                <div class="productDescription">
                    <h3 class="titulo"><%= product.name %></h3>
                    <h4>Categoría: <%= product.categories.category_name %></h4>
                    <hr class="separar">
                    <h4>Marca: <%= product.brand %></h3>
                    <h4>Modelo: <%= product.model %></h4>
                    <p><%= product.description %></p>
                </div>
                
                <div class="productInfoList">
                    <h4>Detalles del producto</h4>
                    <p><%= product.features %></p>
                </div>
                <hr class="separar">
                    
                <div>
                    <h2>Precio: $ <%= product.price %>,00</h2>
                </div>


                <div class="productBotonComprar">
                    <a href="#" class="boton-comprar-art">Comprar</a>

                </div>

                <div class="productArticulosSimilares">
                    <p class="titulo">Productos recomedados</p>
                    <div class="pequeno-cubo">
                        <a class="relacionados" href="/productDetail/<%= otroProducto_1.id %>">
                            <article>
                                <div class="related-productImg">
                                    <img src="/images/uploads/products/<%= otroProducto_1.image %>" alt="<%= otroProducto_1.name %>">
                                </div>
                                <p><%= otroProducto_1.name %></p>
                            </article>
                        </a>

                        <a class="relacionados" href="/productDetail/<%= otroProducto_2.id %>">
                            <article>
                                <div class="related-productImg">
                                    <img src="/images/uploads/products/<%= otroProducto_2.image %>" alt="<%= otroProducto_2.name %>">
                                </div>
                                <p><%= otroProducto_2.name %></p>
                            </article>
                        </a>
                    </div>
                </div>

                </div>
            
            </div>


       </section>
 



    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>