<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <title>Usuarios</title>
</head>


<body>
    <%- include('../partials/header') %>

    <div class="create-prod-button">
        <a href="/users" class="boton-detalles">Volver al listado de usuarios</a>
        <a href="/users/create" class="boton-detalles">Crear un usuario nuevo</a>
    </div>

    <br>
                    
    <h1 class="prod-title">Editar usuario</h1>
    
    <form action="/users/update/" method="POST" id="form1" autocomplete="on" enctype="multipart/form-data" class="ancho-total contenedor-editar-producto">

        <div class="user-columna1">

            <br>

            <p class="texto-centrado"> estás logeado con <%= usuario.email %></p>

            <br>

            <div class="productImg">
                <img src="../../images/uploads/users/<%= usuario.avatar %>" alt="<%= usuario.user %>">
            </div>

            <br>

            <div class="form-query">
                <label>
                    Cambiar el avatar
                </label>
                <br>
                <input type="file" name="avatar_img" id="file">
                <% if (locals.errors && errors.avatar_img) { %>
                    <div class="text-danger">
                        <%= errors.avatar_img.msg %>
                    </div>
                <% } %>
            </div>
        </div>    

        <div class="user-columna2">

            <div class="form-query">                        
                <label for="name">Nombre</label>
                <% if (locals.errores && errores.fname) { %>
                <input type="text" name="fname" id="fname" class="form-space" value="<%= usuario.fname %>">
                    <div class="text-alert">
                        <%= errores.fname.msg %> 
                    </div>
                <% } else { %>
                    <input type="text" name="fname" id="fname" class="form-space" value="<%= locals.userData ? userData.fname : usuario.fname %>">
                <% } %>
            </div>

            <div class="form-query">
                <label for="name">Apellido</label>
                <% if (locals.errores && errores.lname) { %>
                <input type="text" name="lname" id="lname" class="form-space" value="<%= usuario.lname %>">
                    <div class="text-alert">
                        <%= errores.lname.msg %> 
                    </div>
                <% } else { %>
                    <input type="text" name="lname" id="lname" class="form-space" value="<%= locals.userData ? userData.lname : usuario.lname %>">
                <% } %>
            </div>

            <div class="form-query">
                <label for="user">Nombre de usuario</label>
                <% if (locals.errores && errores.user) { %>
                <input type="text" name="user" id="user" class="form-space" value="<%= usuario.user %>">
                    <div class="text-alert">
                        <%= errores.user.msg %> 
                    </div>
                <% } else { %>
                    <input type="text" name="user" id="user" class="form-space" value="<%= locals.userData ? userData.user : usuario.user %>">
                <% } %>
            </div>

            <!-- <div class="form-query">
                <label for="name">Email</label>
                <% if (locals.errores && errores.email) { %>
                <input type="text" name="email" id="email" class="form-space" value="<%= usuario.email %>">
                    <div class="text-alert">
                        <%= errores.email.msg %> 
                    </div>
                <% } else { %>
                    <input type="text" name="email" id="email" class="form-space" value="<%= locals.userData ? userData.email : usuario.email %>">
                <% } %>
            </div> -->


            <div class="form-query">
                <label>
                    Permisos
                </label>               
                <select id="permisos" name="permisos" class="form-space">
                    <% for (let i = 0; i < permisos.length; i++) { %>
                        <% if (permisos[i].id == usuario.permisos) { %>
                            <option value="<%=permisos[i].id%>" selected><%=permisos[i].category%></option> 
                        <% } else { %>
                            <option value="<%=permisos[i].id%>"><%=permisos[i].category%></option> 
                        <% } %>
                    <% } %>
                </select>
            </div>


            <div class="form-query">
                <label for="description">Administrador</label>
                <select name="admin" id="admin" class="option-query">
                    <% if (usuario.admin) { %>
                        <option value="True" selected>Sí, administrador</option>
                        <option value="False">No</option>
                    <% } else { %>
                        <option value="True">Sí, administrador</option>
                        <option value="False" selected>No</option>
                    <% } %>
                    <% if (locals.errores && errores.admin) { %>
                        <div class="text-alert">
                            <%= errores.admin.msg %> 
                        </div>
                    <% } %>
                </select>
            </div>

            
            <div class="form-query">
                <label for="birth_date">Fecha de nacimiento</label>
                <% if (locals.errores && errores.birth_date) { %>
                    <input type="date" name="birth_date" id="birth_date" class="form-space" value="<%= usuario.birth_date %>">
                <div class="text-alert">
                    <%= errores.birth_date.msg %> 
                </div>
                <% } else { %>
                    <input type="date" name="birth_date" id="birth_date" class="form-space" value="<%= locals.userData ? userData.birth_date : usuario.birth_date %>">
                <% } %>
            </div>

            <input type="hidden" name="id" value="<%= usuario.id %>">
            <div class="form-query">
                <button class="form-space padd05 margen05 enviar" type="submit" value="Submit">Enviar cambios</button>
            </div>
            <br>

        
        </div>
        <br>
            
    </form>

    <div class="caja-boton-pass">
        <div>

        </div>
        
        <form action="/users/updatePass/" method="POST">
            <input type="hidden" name="email" value="<%= usuario.email %>">
            <button  type="submit" class="cambiar-pass">Cambiar contraseña</button>
            <!-- <a href="/users/updatePass/<%= usuario.id %>" class="boton-detalles">Cambiar contraseña</a> -->
        </form>
    </div>

    <form action="/users/delete/" method="POST" id="form2">
        <div class="prod-title">
            <input type="hidden" name="borrar" value="<%= usuario.id %>">
            <button type="submit" class="form-space padd05 margen05 borrar"><h3>Borrar</h3></button>

        </div>           
    </form>
    <br>
    <%- include('../partials/footer') %>

</body>
</html>