<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <title>Usuarios - Cambiar contraseña</title>
</head>


<body>
    <%- include('../partials/header') %>

    <div class="create-prod-button">
        <a href="/users" class="boton-usuarios">Volver al listado de usuarios</a>
        <a href="/users/edit/<%= usuario.id %>" class="boton-usuarios">Volver datos del usuario</a>
        <a href="/users/create" class="boton-usuarios">Crear un usuario nuevo</a>
    </div>

    <br>
                    
    <h1 class="prod-title">Cambiar contraseña</h1>


    <form action="/users/updatePassword/" method="POST" id="form1" autocomplete="on" enctype="multipart/form-data" class="ancho-total contenedor-editar-producto">

        <div class="prod-columna1">

            <div class="productImg">
                <img src="../../images/uploads/users/<%= usuario.avatar %>" alt="<%= usuario.user %>">
            </div>

            <br>
            
            <h3 class="prod-title"><%= usuario.user %></h3>
            
            <div class="form-query cambiarContrasenna">
            
                <div class="form-query">
                    <label for="name">Email</label>
                    <% if (locals.errores && errores.email) { %>
                    <input type="text" name="email" id="email" class="form-space" placeholder="<%= usuario.user %>, ingresa tu email" value="<%= locals.userData ? userData.email : null %>">
                        <div class="text-alert">
                            <%= errores.email.msg %> 
                        </div>
                    <% } else { %>
                        <input type="text" name="email" id="email" class="form-space" placeholder="<%= usuario.user %>, ingresa tu email">
                    <% } %>
                </div>


                <div class="form-query">
                    <label for="old_password">Contraseña actual</label>
                    <input type="password" name="old_password" id="old_password" class="form-space" placeholder="contraseña actual">
                    <% if (locals.errores && errores.old_password) { %>
                        <div class="text-alert">
                            <%= errores.old_password.msg %> 
                        </div>
                    <% } %>
                </div>
            
                <div class="form-query">
                    <label for="new_password">Nueva contraseña</label>
                    <input type="password" name="new_password" id="new_password" class="form-space" placeholder="nueva contraseña">
                    <% if (locals.errores && errores.new_password) { %>
                        <div class="text-alert">
                            <%= errores.new_password.msg %> 
                        </div>
                    <% } %>
                </div>
    
                <div class="form-query">
                    <label for="confirm_pass">Confirmar nueva contraseña</label>
                    <input type="password" name="confirm_pass" id="confirm_pass" class="form-space" placeholder="confirmar nueva contraseña">
                    <% if (locals.errores && errores.confirm_pass) { %>
                        <div class="text-alert">
                            <%= errores.confirm_pass.msg %> 
                        </div>
                    <% } %>
                </div>

            </div>

            <div class="form-query">
                <button class="form-space padd05 margen05 enviar" type="submit" value="Submit">Enviar cambios</button>
            </div>
        </div>
    </form>

    <div class="create-prod-button">
        <a href="/users" class="boton-usuarios">Volver al listado de usuarios</a>
        <a href="/users/edit/<%= usuario.id %>" class="boton-usuarios">Volver datos del usuario</a>
        <a href="/users/create" class="boton-usuarios">Crear un usuario nuevo</a>
    </div>
    <br>

    <%- include('../partials/footer') %>

</body>
</html>